html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
    font-size: 12px;
}

.card {
    padding: 0 10px;
    background-color: #fff;
    margin-top: 10px;
}

.el-cascader-menu {
    height: 300px;
}

.ql-editor {
    min-height: 300px;
}

.table {
    margin-top: 10px;
}